AUTH_SECRET="some-long-random-string"
AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres.qrogabqkytaocyiblsct:razanzyan123@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.qrogabqkytaocyiblsct:razanzyan123@aws-0-us-west-2.pooler.supabase.com:5432/postgres"